ul {
    margin-top: 20px;

}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #444;
}

.fileInfo {
    display: flex;
    align-items: center;
}

.fileInfo div {
    display: flex;
    flex-direction: column;
}

.fileInfo div span {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}

.fileInfo div span button {
    border: 0;
    background: transparent;
    color: #e57878;
    margin-left: 5px;
    cursor: pointer;
}


.list {
    border-bottom: 1px solid #0096D6;
    margin-bottom: 10px;
}